body {
  font-family: 'Rubik', 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', 'Times New Roman', Times, serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}
